
body{
    background-color: black;
    color: white;
    height: 100%;
  margin: 0;
}

.container-steps{
   display: flex;
   flex-direction: column;
   align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.step-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    width: 380px;
    height: fit-content;
    padding: 20px;
    border-radius: 15px;
}

.step-box.odd{
    margin-left: 340px;
}

.step-box.even{
    margin-right: 340px;
}

.step-box img{
 width: 44px;
 height: 44px;
}

.step-ic-tx{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}